:root {
  --primary-color: #ff3b30;
  --secondary-color: #fff6ea;
  --action-color: #3b82f6;
  --grey-color: #9a9a9a;
  --black-color: #282828;
  --white-color: #fff;
  --lynx-white-color: #f7f7f7;
  --violet-color: #5348c7;
  --lynx-gray-color: #c5c5c5;
  --font: "Open Sans", sans-serif;
  --xxl-size: 4rem;
  --xl-size: 2.5rem;
  --l-size: 2rem;
  --m-size: 1.5rem;
  --s-size: 1rem;
  --xs-size: 0.5rem;
  --xl-font: 3rem;
  --light-weight: 300;
  --regular-weight: 400;
  --semibold-weight: 600;
  --bold-weight: 700;
  --black-weight: 900;
}

.avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.fa-xmark {
  cursor: pointer;
}

.avatar-image-div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-page-header {
  box-sizing: border-box;
  width: inherit;
  display: flex;
  padding: 20px 20px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lynx-white-color);
  height: fit-content;
  margin: 0;
}

.user-name-profile {
  margin: 0;
  padding: 5px 5px 0;
  font-size: var(--m-size);
}
.username-profile {
  color: var(--grey-color);
  font-size: var(--s-size);
  margin: 0;
  padding: 0 0 10px;
}

.edit-profile-btn {
  padding: 7.5px 10px;
  background: none;
  border: 1px solid var(--grey-color);
  font-weight: var(--bold-weight);
  cursor: pointer;
  margin-top: 10px;
}

.edit-profile-btn:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.following-section-profile {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.following-section-count {
  font-weight: 500;
}

.edit-profile-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-profile-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lynx-white-color);
  padding: 20px 40px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.edit-profile-box label {
  margin: 10px 0 5px 0;
  font-size: 14px;
  width: 100%;
  justify-self: flex-start;
  font-weight: 500;
  padding: 0px;
}

.edit-profile-box input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: var(--s-size);
  color: var(--primary-color);
}

.save-btn-profile {
  box-sizing: border-box;
  margin: 10px;
  padding: 7.5px 15px;
  background: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

.save-btn-profile:hover {
  opacity: 0.45;
}

.save-btn-profile:nth-child(2) {
  background-color: var(--lynx-white-color);
  color: var(--primary-color);
}

.user-profile-details-bio {
  font-family: var(--font);
  margin: 0px 0 5px;
}

.user-profile-details-url {
  color: var(--primary-color);
  margin: 0 0 5px;
}

.empty-profile-page-tag {
  width: 100%;
  display: flex;
  padding: 0 10px;
  justify-content: center;
}

/* --------------------------------mobileView------------------------ */

@media screen and (max-width: 768px) {
  .avatar-image-div {
    width: 75px;
    height: 75px;
  }

  .avatar-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0;
  }
  .user-name-profile {
    font-size: 20px;
  }
  .username-profile {
    font-size: 16px;
  }
  .edit-profile-btn {
    font-size: 12px;
    padding: 7.5px;
    margin-top: 0px;
  }
  .following-section-count {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
  }
  .edit-profile-box {
    margin: 20px;
    padding: 10px 20px;
  }
  .edit-profile-box label {
    font-size: 12px;
  }

  .edit-profile-box input {
    font-size: 14px;
    color: var(--primary-color);
  }
  .save-btn-profile {
    padding: 5px 10px;
    font-size: 12px;
  }
  .user-profile-details-bio {
    font-size: 12px;
  }

  .user-profile-details-url {
    font-size: 12px;
  }
}
