.user-profile-page {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 87.5px;
  left: 300px;
  background-color: var(--lynx-white-color);
}

.user-posts-section {
  margin: 100px;
}

.avatar-image {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.avatar-image-div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
