:root {
  --primary-color: #ff3b30;
  --secondary-color: #fff6ea;
  --action-color: #3b82f6;
  --grey-color: #9a9a9a;
  --black-color: #282828;
  --white-color: #fff;
  --lynx-white-color: #f7f7f7;
  --violet-color: #5348c7;
  --lynx-gray-color: #c5c5c5;
  --font: "Open Sans", sans-serif;
  --xxl-size: 4rem;
  --xl-size: 2.5rem;
  --l-size: 2rem;
  --m-size: 1.5rem;
  --s-size: 1rem;
  --xs-size: 0.5rem;
  --xl-font: 3rem;
  --light-weight: 300;
  --regular-weight: 400;
  --semibold-weight: 600;
  --bold-weight: 700;
  --black-weight: 900;
}

.main-page {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 85px;
  left: 300px;
  background-color: var(--lynx-white-color);
  padding: 20px;
  overflow-y: scroll;
}

.page-main-section {
  min-height: 83vh;
  width: 760px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-wrap: wrap;
}

.section-new-post {
  width: inherit;
  display: flex;
  background-color: var(--white-color);
}

.new-post-input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.new-post-input {
  margin: 10px 0;
  width: 95%;
  height: 100px;
  padding: 10px 0 0 10px;
  font-size: var(--s-size);
  color: var(--primary-color);
  text-align: start;
  border: none;
  background-color: var(--lynx-white-color);
  font-family: var(--font);
}

.post-btn-home {
  margin: 0 20px 20px;
  padding: 7.5px 15px;
  background: none;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 500;
  cursor: pointer;
}

.post-btn-home:hover {
  opacity: 0.7;
}

.new-post-input-section button {
  align-self: flex-end;
}

ul {
  list-style: none;
  margin: 0;
}

.empty-page-tag {
  width: inherit;
  text-align: center;
  height: 100vh;
  position: fixed;
  top: 45%;
}

.sort-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.sort-items-toggle {
  cursor: pointer;
  background: none;
  color: var(--primary-color);
  border: none;
  align-self: flex-start;
  font-size: 20px;
}

.sort-items-toggle:hover {
  color: var(--grey-color);
}

.sort-btn-section {
  width: 50%;
  display: flex;
  position: relative;
}

.sort-type-btn {
  margin: 0 10px;
  padding: 5px 10px;
  background: none;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
}

.sort-type-btn:hover {
  background-color: var(--grey-color);
  color: var(--white-color);
}

.sort-items-toggle-btn-div {
  position: absolute;
  top: 0;
  left: 30px;
}
.homeheading {
  font-size: 18px;
  text-align: center;
  margin: 15px 0;
  align-self: center;
}
.page-heading {
  width: inherit;
  margin: 0px 0 20px;
  text-align: start;
  align-self: center;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.preview-image-box {
  position: relative;
}

#delete-image-new-post {
  position: absolute;
  color: var(--white-color);
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 30px;
  height: 30px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.new-post-btn-section {
  align-self: flex-end;
}

.new-post-btn-section i {
  cursor: pointer;
}

.new-post-image {
  max-width: 400px;
  max-height: 400px;
}

/* --------------------------------mobileView------------------------ */

@media screen and (max-width: 768px) {
  .main-page {
    position: relative;
    top: 50px;
    left: 0;
    background-color: var(--lynx-white-color);
    padding: 10px;
  }

  .page-main-section {
    width: 100%;
    display: flex;
    flex-basis: 100%;
  }
  .new-post-input {
    font-size: 14px;
    margin: 0;
  }

  .post-btn-home {
    margin: 0 10px 10px;
    padding: 5px 10px;
  }

  .empty-page-tag {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
  }

  .sort-items-toggle {
    margin: 10px 0 0;
    font-size: 16px;
  }
  .sort-type-btn {
    margin: 10px 5px 0;
    font-size: 10px;
  }
  .sort-btn-section {
    z-index: 1;
    width: 70%;
    display: flex;
  }

  .homeheading {
    font-size: 14px;
    text-align: center;
    margin: 10px 0 0;
    align-self: baseline;
  }
  .page-heading {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 7.5px 0 0;
  }
}
