:root {
  --primary-color: #ff3b30;
  --secondary-color: #fff6ea;
  --action-color: #3b82f6;
  --grey-color: #9a9a9a;
  --black-color: #282828;
  --white-color: #fff;
  --lynx-white-color: #f7f7f7;
  --violet-color: #5348c7;
  --lynx-gray-color: #c5c5c5;
  --font: "Open Sans", sans-serif;
  --xxl-size: 4rem;
  --xl-size: 2.5rem;
  --l-size: 2rem;
  --m-size: 1.5rem;
  --s-size: 1rem;
  --xs-size: 0.5rem;
  --xl-font: 3rem;
  --light-weight: 300;
  --regular-weight: 400;
  --semibold-weight: 600;
  --bold-weight: 700;
  --black-weight: 900;
}

.footer-section {
  height: 100vh;
  background-color: var(--lynx-white-color);
  position: fixed;
  top: 85px;
  right: 0px;
  padding: 40px;
}

.footer-search-bar {
  width: 275px;
  padding: 10px 10px;
  margin-left: 10px;
}

.mag-glass {
  margin: 5px;
  padding: 10px;
}

.found-people-list {
  box-sizing: border-box;
  width: 80%;
  height: 200px;
  padding: 10px;
  background-color: var(--white-color);
  z-index: 9;
  position: absolute;
  overflow-y: auto;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.found-people-list-item {
  box-sizing: border-box;
  border: 1px solid var(--white-color);
}

.found-people-list-item:hover {
  font-weight: 500;
  border-left: 4px solid var(--primary-color);
}

.to-follow-list {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  margin-top: 20px;
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.to-follow-header {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  font-size: 17px;
  border-bottom: 1px solid black;
  font-weight: var(--bold-weight);
}

.footer-user-list {
  margin: 0;
  list-style: none;
  padding-left: 10px;
}

.footer-user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: var(--bold-weight);
}

.footer-user-head {
  display: flex;
  align-items: center;
  justify-self: start;
  text-decoration: none;
}
.user-name-footer {
  margin: 0;
  color: var(--black-color);
}

.username-footer {
  color: var(--grey-color);
  font-size: 14px;
  margin: 0;
  font-weight: var(--regular-weight);
}

.follow-btn-footer {
  background: none;
  border: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  padding-right: 15px;
}

.follow-btn-footer::before {
  content: "+";
  margin-right: 5px;
}

.no-one-tag-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-weight: 500;
}
